.bar-button-container{
    min-width: 250px;
}
.bar-container{
    display:inline-block;
    position:relative;
    border-radius:4px;
    background-color:#FFFFFF;
    width:200px;
    height:8px;
}

.bar-container-grey{
    @extend .bar-container;
    background-color:#A0A0A0;
}

.bar-bar{
    background-color:#93BC1D;
    border-radius:4px 0px 0px 4px;
    height:8px;
    position:absolute;
}
.bar-label{
    background-color:#93BC1D;
    margin-top:-5px;
    font-size:0.8em;
    vertical-align:middle;
    color:#FFFFFF;
    border-radius:4px;
    text-align:center;
    width:20px;
    height:20px;
    position:relative;
    line-height:20px;
}

.bar-buttons{
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    margin-left: 20px;
    button{
        display: block;
        border: 0px;
        background: transparent;
    }
}
